PORT=3001
CORS_ORIGIN=http://localhost:5173
STUN_URLS=stun:stun.l.google.com:19302
TURN_URLS=turn:localhost:3478
TURN_USERNAME=remote
TURN_CREDENTIAL=remote-dev-secret
DISCOVERY_ENABLED=true
REMOTE_CONTROL_SERVER_NAME=RemoteControl Server
